<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/secret.css" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

</head>
<body tabIndex=0>

    <header id = 'banner'>

        <marquee behavior="scroll" direction="right">10 percent off your first order</marquee>

    </header>

    <aside>
    <img src = "../static/images/sunglasses.jpg">
    <nav id = navFilter> 
        <a href="{{url_for('new')}}">New</a>
        <a href="{{url_for('men')}}">Men</a> 
        <a href="{{url_for('women')}}">Women</a> 
        <a href="{{url_for('kids')}}">Kids</a>
        <a href="{{url_for('accessories')}}">Accessories</a> 
    </nav>

    <nav>
        <p>SEARCH BAR</p> 
        <a href="{{url_for('basket')}}"><img src = "../static/images/star-svgrepo-com.svg"></a>
        <a href="{{url_for('basket')}}" ><img src = "../static/images/basket-svgrepo-com.svg"></a> 
    </nav>
    </aside>



    {%block main_content%}



    {%endblock%}
</body>


</html>
