{% extends "secretBase.html" %}

{% block main_content%}
    <h1>Our Product Catalog</h1>
    <table>
        <tr><th>Product Name:</th> <th>Price:</th><th>Stock:</th><th>Listed:</th><th>Remove Product</th></tr>
        {% for product in products %}
        <tr>
            <td> <a href = "{{url_for('editProduct', product_id=product['product_id']  )}}">{{product["name"]}}</a></td>
            <td> {{product["price"]}}</td>
            <td> {{product["stock"]}}</td>
            <td> 
                {% if product["listed"] == 1 %}
                True
                {%else%}
                False
                {%endif%}
            </td>
            <td id = "delete"> <a href = "{{url_for('deleteProduct', product_id=product['product_id']  )}}"> Delete {{product["name"]}}</a></td>
        </tr>
        {%endfor%}
    </table>
{% endblock %}